.body
  .row
    .span10
      = image_tag @product.logo.url, class: :span4
  - if @current_user.admin?
    .span12
      =link_to 'Editar', edit_content_path(@content), class: 'btn'

  .span12
    %h1= @content.name
    =raw BlueCloth.new(@content.body).to_html
