%table.table
  %thead
    %tr
      %th Email
      %th Ingresos
      %th Ultimo Ingreso
      %th Acciones
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.login_count
        %td= user.last_login_at.try(:to_s, :short)
        %td= link_to 'Desactivar', admin_user_path(user), class: 'btn btn-warning'

