.body
  .span4
    %h1= image_tag 'farmasa.png'
    %h2 Bienvenidos
    :markdown
      Estimados compañeros de la Línea Gineco & Uro:
      Es un gusto para mí darles la más cordial bienvenida a nuestro sitio WEB oficial. ¡Al fin es una realidad!

      Ahora podremos reforzar nuestra comunicación, primordial para el progreso de cualquier empresa.

      Estoy cierta de que este sitio será de gran ayuda, ya que en él encontrarás toda la información relevante para el crecimiento de nuestra línea, como son los objetivos y estrategias de mercadotecnia, materiales, manuales de capacitación, bibliografía, información de mercado, etc., pero sobretodo, será un facilitador para recibir comentarios y resolver dudas.

      Recuerda que tú eres el pilar del éxito de la Línea Gineco & Uro, y que la base es el conocimiento integral de todos nuestros productos.

      Con esto en mente, iniciemos...
