.body
  .row
    .span12
      = image_tag @product.logo.url, class: :span4
      - if @current_user.admin?
        .span12
          = link_to 'Editar', edit_product_path(@product), class: 'btn btn-primary'

  .span4
    =raw BlueCloth.new(@product.body).to_html
