.container
  .row.with-background
    .body
      .span12
        = image_tag @product.logo.url, class: :span4

      .span4
        %p Presentacion
  = render partial: 'contents/contents_menu'
  = render partial: 'products_menu'
