.body
  .span12
    - if @current_user.admin?
      = link_to 'Editar', edit_product_path(@product)
    = image_tag @product.logo.url, class: :span4

  .span4
    =raw BlueCloth.new(@product.body).to_html
