!!! 5

%html{lang: 'en'}
  %head
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    %meta{charset: 'utf8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Farmasa GU
    = javascript_include_tag 'admin/application'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    .container
      =link_to 'Inicio' , root_path , class: 'btn btn-primary'
      =link_to 'Salir' , salir_path , class: 'btn btn-warning'

      = yield
